.container{
    width: 80%;
    height: 400px;
    background-color: rgba(0, 255, 255, 0.584);    
    margin-top: 60px;
    margin-left: 140px;
    display: flex;
    flex-direction: column;   
    border-bottom: 6px solid brown;
    border-left: 6px solid brown;
    border-top: 6px solid brown;
    border-right: 6px solid brown;
    border-radius: 8px;
}

.casino{
    background-color: green;
    width: 100%;
    height: 60%;
    display: flex;
}

.roulette{
    background-color: crimson;
    width: 20%;
    height: 100%;   
}

.table{
    background-color: green;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;    
}
.endthirds{
    background-color: beige;
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sides{
    background-color: darkorchid;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.sidethirds{
    width: 100%;
    height: 50%;
    background-color: green;
    display: flex;
    flex-direction: row;
}

.redblack{
    width: 100%;
    height: 50%;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}

.nzero{
    width: 10%;
    height: 100%;
    background-color: green;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    /*border-bottom: 43px solid white; --> doesnt work*/
     
}

.numbers{
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
}

.casinorowsr1{
    width: 100%;
    height: 33%;
    background-color: green;
    display: flex;
}

.casinorowsr2{
    width: 100%;
    height: 33%;
    background-color: green;
    display: flex;
}

.casinorowsr3{
    width: 100%;
    height: 34%;
    background-color: green;
    display: flex;
}

.n3{
    width: 8.3%;
    height: 100%;
    background-color: rgb(255, 5, 5);
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n6{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;  
}
.n9{
    width: 8.3%;
    height: 100%;
    background-color: rgb(255, 5, 5);
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n12{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n15{
    width: 8.3%;
    height: 100%;
    background-color: rgb(255, 5, 5);
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n18{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.n21{
    width: 8.3%;
    height: 100%;
    background-color: rgb(255, 5, 5);
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n24{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.n27{
    width:8.3%;
    height: 100%;
    background-color: rgb(255, 5, 5);
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n30{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.n33{
    width: 8.3%;
    height: 100%;
    background-color: rgb(255, 5, 5);
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n36{
    width: 8.4%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n2{
    width: 8.3%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n5{
    width: 8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n8{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n11{
    width: 8.32%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n14{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n17{
    width: 8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.n20{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n23{
    width: 8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.n26{
    width:8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n29{
    width: 8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.n32{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n35{
    width: 8.4%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

/*---------------------------------------------------*/
.n1{
    width: 8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n4{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n7{
    width: 8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n10{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n13{
    width: 8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n16{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}    
.n19{
    width: 8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n22{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.n25{
    width:8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n28{
    width: 8.3%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.n31{
    width: 8.3%;
    height: 100%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.n34{
    width: 8.4%;
    height: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

/*-------------------sidethirds1-2-3-4*/

.sidethirds1{
    width: 25.4%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
    border-top: 1px solid white; 
}

.sidethirds2{
    width: 22.1%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white; 
}

.sidethirds3{
    width: 22.2%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-right: 1px solid white;
    border-top: 1px solid white; 
}

.sidethirds4{
    width: 22.5%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-right: 1px solid white;
    border-top: 1px solid white; 
    border-bottom: 1px solid white; 
}

/*--------------------------------red black------------------------------------------- */
.redblackvidebegin{
    width: 25.5%;
    height: 100%;
    background-color: green;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.redblack118{
    width: 11%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid white;
}

.redblackeven{
    width: 11.4%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.redblackred{
    width: 11.2%;
    height: 100%;
    background-color: rgb(25, 123, 25);
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.redblackblack{
    width: 11.2%;
    height: 100%;
    background-color: rgb(25, 123, 25);
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.redblackodd{
    width: 11.2%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.redblack1936{
    width: 11.4%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.redblackvideend{
    width: 7.5%;
    height: 100%;
    background-color: green;
}


/*-------------------------------infos-----------------------------------------*/

.infos{
    width: 100%;
    height: 10%;
    background-color: cadetblue;
}

/*---------------------------------endthirds---------------------------------------*/

.column3{
    width: 100%;
    height: 33%;
    background-color: green;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.column2{
    width: 100%;
    height: 33%;
    background-color: green;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.column1{
    width: 100%;
    height: 34%;
    background-color: green;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

/*--------------------------------------losanges-----------------------------------*/

.redblackred{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.redlosange{
    height: 0px;
    width: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; 
    border-top: 15px solid transparent;
    border-bottom: 18px solid red;
  
}

.redlosange2{
    height: 0px;
    width: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; 
    border-top: 18px solid red;
    border-bottom: 30px solid transparent;   
}

.redblackblack{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blacklosange{
    height: 0px;
    width: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; 
    border-top: 15px solid transparent;
    border-bottom: 18px solid black;
  
}

.blacklosange2{
    height: 0px;
    width: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; 
    border-top: 18px solid black;
    border-bottom: 30px solid transparent;   
}

/*-----------------------------------------empty parts------------------------------*/
.redblackvidebegin{
    border-right: 1px solid white;     
}

